<!DOCTYPE html>
%html
  %head
    %title>Yaflow
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    #header
      = yield :header

    %div{id: "#{controller.controller_name}_#{controller.action_name}"}
      #container
        = yield
      #ember_container

    #footer
      = yield :footer
      - if current_user
        %hr
        =  link_to "sign_out",destroy_user_session_path()
